<!doctype html>
<html lang="en">
<head>

    <title>Vue Split Payment by Andrea Rufo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <script src="https://unpkg.com/vue"></script>

    <style media="screen">
        #app{
            display: flex;
            align-items: center;
            min-height: 100vh;
            background: #eee;
        }
    </style>
</head>
<body>

    <div id="app">

        <div class="container">

            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <label for="diviso">Conto per persona</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">€</span>
                            <input v-model="diviso" name="diviso" class="form-control text-right" type="number" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="totale">Conto totale</label>
                        <div class="input-group">
                            <span class="input-group-addon">€</span>
                            <input v-model="totale" name="totale" class="form-control text-right" type="number" min="0" step="0.01">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="persone">Persone</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button v-on:click="removePersona()" class="btn btn-secondary" type="button">-</button>
                            </span>
                            <input v-model="persone" name="persone" type="number" class="form-control text-center" min="1" step="1" value="1">
                            <span class="input-group-btn">
                                <button v-on:click="addPersona()" class="btn btn-secondary" type="button">+</button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

            <p class="text-center">
                <small>Made by <a href="http://www.andrearufo.it/">Andrea Rufo</a></small>
            </p>

        </div>

    </div>

    <script>

    var app = new Vue({

        el: '#app',

        data: {
            totale: 100,
            persone: 1
        },

        computed: {

            diviso: function () {
                return this.totale / this.persone;
            }
        },

        methods: {

            addPersona: function(){
                return this.persone = this.persone + 1;
            },

            removePersona: function(){
                if( this.persone > 1 )
                    return this.persone = this.persone - 1;
            }

        }

    });

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</body>
</html>
